*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,p{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
body{
    overflow-x: hidden;
    background-color: lightblue;
}
header{
    margin-right: auto;
    margin-left: auto;
    margin-top: 4.566210045662101vh;
    width: 95vw;
    height: 90vh;
    padding: 4.566210045662101vh 2.1961932650073206vw;
    background-color: rgb(199, 233, 244);
    border: none;
    border-radius: 2.1961932650073206vw;
    font-family: 'League Spartan', sans-serif;
}
@import "./header/header"