* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  overflow-x: hidden;
  background-color: lightblue;
}

header {
  margin-right: auto;
  margin-left: auto;
  margin-top: 4.5662100457vh;
  width: 95vw;
  height: 90vh;
  padding: 4.5662100457vh 2.196193265vw;
  background-color: rgb(199, 233, 244);
  border: none;
  border-radius: 2.196193265vw;
  font-family: "League Spartan", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .menu {
  padding: 3.0441400304vh 0;
  width: 15vw;
  height: 100%;
  text-align: center;
}
header .menu .card {
  margin: 1.5220700152vh auto;
  width: 3.6603221083vw;
  height: 7.6103500761vh;
}
header .menu .card img {
  width: 100%;
  height: 100%;
}
header .menu ul {
  padding: 3.0441400304vh 0;
}
header .menu ul li {
  margin: 1.5220700152vh 0;
  background-color: transparent;
  border: none;
  border-radius: 0.7320644217vw;
  display: flex;
  align-items: center;
}
header .menu ul li img {
  margin-right: 2.5622254758vw;
  background-color: white;
  border: none;
  border-radius: 0.5856515373vw;
  padding: 0.9132420091vh 0.5124450952vw;
}
header .menu ul li a {
  color: rgb(144, 144, 144);
}
header .menu ul li:hover {
  background-color: rgb(255, 84, 84);
}
header .menu ul li:hover a {
  color: white;
}
header .menu ul li:hover img {
  background-color: rgb(223, 69, 69);
}
header .menu .faster {
  z-index: 3;
  text-align: start;
  margin-top: 11.4155251142vh;
  padding: 0.7610350076vh 1.8301610542vw;
  padding-top: 1.5220700152vh;
  background-color: white;
  border: none;
  border-radius: 2.2831050228vh;
  position: relative;
}
header .menu .faster .faster_img {
  width: 10.980966325vw;
  height: 22.8310502283vh;
  position: absolute;
  top: -12.1765601218vh;
  right: 1.4641288433vw;
}
header .menu .faster .faster_img img {
  z-index: 2;
  width: 100%;
  height: 100%;
}
header .menu .faster h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
}
header .menu .faster button {
  font-weight: 600;
  background-color: transparent;
  border: none;
}
header .menu .faster .shadow {
  position: absolute;
  top: -28px;
  right: 60px;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  background-color: rgb(128, 209, 255);
}
header .menu .faster .violet {
  position: absolute;
  top: -70px;
  right: 78px;
  width: 50px;
  height: 50px;
  background-color: rgb(176, 128, 255);
}
header .menu .faster .white {
  z-index: -1;
  width: 27px;
  height: 27px;
  background-color: white;
  position: absolute;
  top: -50px;
  left: 45px;
}
header .menu .faster .red {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 30px;
  left: 22px;
  background-color: rgb(255, 84, 84);
}
header .menu .faster .middle {
  background-color: white;
  width: 8px;
  height: 8px;
  position: absolute;
  top: -80px;
  left: 10px;
}
header .menu .faster .easy {
  z-index: 3;
  background-color: white;
  width: 4px;
  height: 4px;
  position: absolute;
  top: -5px;
  left: 71px;
}

::-webkit-scrollbar {
  width: 0px;
}

section {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  padding: 20px 30px;
  border: none;
  border-radius: 20px;
  width: 80vw;
  height: 100%;
  background-color: white;
  margin-left: 30px;
}
section .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .container .logo {
  position: relative;
  width: 200px;
  font-weight: 600;
  font-size: 23px;
}
section .container .logo img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 35px;
  left: 155px;
}
section .container .logo h1 {
  display: inline;
}
section .container .img {
  margin-bottom: 40px;
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: red;
}
section .container .search {
  background-color: rgb(243, 243, 243);
}
section .container .shop {
  background-color: rgb(102, 102, 102);
}
section .container .shop_shadow {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;
  background-color: rgb(255, 84, 84);
}
section main {
  margin-bottom: 20px;
}
section main .container {
  margin-top: 35px;
}
section main .container .content {
  text-align: center;
  width: 90px;
  height: 140px;
  padding: 5px;
  border: none;
  border-radius: 40px;
  color: rgb(88, 88, 88);
  background-color: rgb(243, 243, 243);
}
section main .container .content:hover {
  color: black;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.1);
}
section main .container .content img {
  margin-bottom: 5px;
  width: 100%;
  height: 60%;
}
section main .container .content_last {
  position: relative;
  text-align: start;
  border: none;
  border-radius: 25px;
  height: 140px;
  padding: 10px 20px;
  padding-right: 70px;
  background-color: rgb(171, 151, 243);
  color: rgb(255, 255, 255);
  margin-left: 45px;
}
section main .container .content_last h2 {
  font-size: 20px;
  margin-top: 70px;
}
section main .container .content_last p {
  font-size: 14px;
}
section main .container .content_last #burger {
  position: absolute;
  top: -150px;
  right: -108px;
}
section main .container .content_last #apple {
  position: absolute;
  top: -38px;
  right: 165px;
}
section main .container .content_last #cheese {
  position: absolute;
  top: 65px;
  right: -15px;
}
section main .container .content_last #orange {
  position: absolute;
  top: 15px;
  left: 75px;
}
section main .container .content_last #fire {
  position: absolute;
  top: -42px;
  left: 78px;
}
section main .cards_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
section main .cards_header span {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section main .cards_header span #back {
  background-color: rgb(245, 246, 247);
  border: none;
  padding: 15px 12px;
  border-radius: 10px;
}
section main .card_list {
  float: left;
  width: 650px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 100px 20px;
  margin-top: 75px;
  margin-bottom: 20px;
}
section main .card_list .card {
  position: relative;
  padding: 10px 15px;
  position: relative;
  border: 1px solid rgb(242, 238, 238);
  border-radius: 20px;
  color: rgb(0, 0, 0);
}
section main .card_list .card:hover {
  background-color: rgb(242, 238, 238);
}
section main .card_list .card h3 {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 700;
}
section main .card_list .card p {
  font-size: 15px;
  margin: 10px 0;
  color: rgb(137, 134, 134);
}
section main .card_list .card h2 {
  display: inline;
}
section main .card_list .card button {
  border: 2px solid black;
  border-radius: 50%;
  padding: 1px 8px;
  margin-left: 80px;
  text-align: end;
  font-size: 25px;
  background-color: black;
  color: white;
}
section main .card_list .card button:hover {
  background-color: rgb(242, 238, 238);
  color: black;
}
section main .card_list .card #card_img1 {
  position: absolute;
  top: -85px;
  right: -20px;
}
section main .card_list .card #card_img2 {
  position: absolute;
  top: -85px;
  right: 10px;
}
section main .card_list .card #card_img3 {
  position: absolute;
  top: -100px;
  right: -15px;
}
section main .articles {
  margin-top: 20px;
  margin-left: 75px;
  float: left;
  width: 230px;
}
section main .articles .articles_card {
  margin-bottom: 20px;
  display: flex;
  align-items: start;
}
section main .articles .articles_card p {
  font-size: 15px;
  font-weight: 600;
}
section main .articles .articles_card img {
  border: none;
  border-radius: 10px;
  padding: 7px 9px;
  background-color: red;
  margin-right: 10px;
}
section main .articles .articles_card #color1 {
  background-color: rgb(255, 240, 165);
}
section main .articles .articles_card #color2 {
  background-color: rgb(214, 245, 255);
}
section main .articles .articles_card #color3 {
  background-color: rgb(255, 145, 145);
}
section main .articles .articles_card #color4 {
  background-color: rgb(193, 255, 244);
}/*# sourceMappingURL=style.css.map */