@mixin flex ($justify: space-between,$items: center){
    display: flex;
    justify-content: $justify;
    align-items: $items;
}

header{
    @include flex();
    .menu{
        padding: 3.0441400304414vh 0;
        width: 15vw;
        height: 100%;
        text-align: center;
        .card{
            margin: 1.5220700152207vh auto;
            width: 3.6603221083455346vw;
            height: 7.610350076103501vh;
            img{
                width: 100%;
                height: 100%;
            }
        }
        ul{
            padding: 3.0441400304414vh 0;
            li{
                margin: 1.5220700152207vh 0;
                background-color: transparent;
                border: none;
                border-radius: 0.7320644216691069vw;
                display: flex;
                align-items: center;
                img{
                    margin-right: 2.562225475841874vw;
                    background-color: white;
                    border: none;
                    border-radius: 0.5856515373352855vw;
                    padding: 0.91324200913242vh 0.5124450951683748vw;
                }
                a{
                    color: rgba(144, 144, 144, 1);
                }
                &:hover{
                    background-color: rgba(255, 84, 84, 1);
                    a{
                        color: white;
                    }
                    img{
                        background-color: rgba(223, 69, 69, 1);
                    }
                }
            }
        }
        .faster{
            z-index: 3;
            text-align: start;
            margin-top: 11.415525114155251vh;
            padding: 0.76103500761035vh 1.8301610541727673vw;
            padding-top: 1.5220700152207vh;
            background-color: white;
            border: none;
            border-radius: 2.2831050228310503vh;
            position: relative;
            .faster_img{
                width: 10.980966325036603vw;
                height: 22.831050228310502vh;
                position: absolute;
                top: -12.1765601217656vh;
                right: 1.4641288433382138vw;
                img{
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                }
            }
            h3{
                font-size: 20px;
                font-weight: bold;
                margin-top: 50px;
            }
            button{
                font-weight: 600;
                background-color: transparent;
                border: none;
            }
            .shadow{
                position: absolute;
                top: -28px;
                right: 60px;
                width: 42px;
                height: 42px;
                border: none;
                border-radius: 50%;
                background-color: rgba(128, 209, 255, 1);
            }
            .violet{
                position: absolute;
                top: -70px;
                right: 78px;
                width: 50px;
                height: 50px;
                background-color: rgba(176, 128, 255, 1);
            }
            .white{
                z-index: -1;
                width: 27px;
                height: 27px;
                background-color: white;
                position: absolute;
                top: -50px;
                left: 45px;
            }
            .red{
                width: 12px;
                height: 12px;
                position: absolute;
                top: 30px;
                left: 22px;
                background-color: rgba(255, 84, 84, 1);
            }
            .middle{
                background-color: white;
                width: 8px;
                height: 8px;
                position: absolute;
                top: -80px;
                left: 10px;
            }
            .easy{
                z-index: 3;
                background-color: white;
                width: 4px;
                height: 4px;
                position: absolute;
                top: -5px;
                left: 71px;
            }
        }
    }
}
::-webkit-scrollbar{
    width: 0px;
}
section{
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    padding: 20px 30px;
    border: none;
    border-radius: 20px;
    width: 80vw;
    height: 100%;
    background-color: white;
    margin-left: 30px;
    .container{
        position: relative;
        @include flex();
        .logo{
            position: relative;
            width: 200px;
            font-weight: 600;
            font-size: 23px;
            img{
                width: 50px;
                height: 50px;
                position: absolute;
                top: 35px;
                left: 155px;
            }
            h1{
                display: inline;
            }
        }
        .img{
            margin-bottom: 40px;
            border: none;
            padding: 10px 10px;
            border-radius: 10px;
            background-color: red;
        }
        .search{
            background-color: rgba(243, 243, 243, 1);
        }
        .shop{
            background-color: rgba(102, 102, 102, 1);
        }
        .shop_shadow{
            position: absolute;
            top: 0;
            right: 0;
            width: 8px;
            height: 8px;
            border: none;
            border-radius: 50%;
            background-color: rgba(255, 84, 84, 1);
        }
    }
    main{
        margin-bottom: 20px;
        .container{
            margin-top: 35px;
            .content{
                text-align: center;
                width: 90px;
                height: 140px;
                padding: 5px;
                border: none;
                border-radius: 40px;
                color: rgba(88, 88, 88, 1);
                background-color: rgba(243, 243, 243, 1);
                &:hover{
                    color: black;
                    background-color: rgba(255, 255, 255, 1);
                    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.1);
                }
                img{
                    margin-bottom: 5px;
                    width: 100%;
                    height: 60%;
                }
            }
            .content_last{
                position: relative;
                text-align: start;
                border: none;
                border-radius: 25px;
                height: 140px;
                padding: 10px 20px;
                padding-right: 70px;
                background-color: rgba(171, 151, 243, 1);
                color: rgba(255, 255, 255, 1);
                margin-left: 45px;
                h2{
                    font-size: 20px;
                    margin-top: 70px;
                }
                p{
                    font-size: 14px;
                }
                #burger{
                    position: absolute;
                    top: -150px;
                    right: -108px;
                }
                #apple{
                    position: absolute;
                    top: -38px;
                    right: 165px;
                }
                #cheese{
                    position: absolute;
                    top: 65px;
                    right: -15px;
                }
                #orange{
                    position: absolute;
                    top: 15px;
                    left: 75px;
                }
                #fire{
                    position: absolute;
                    top: -42px;
                    left: 78px;
                }
            }
        }
        .cards_header{
            width: 100%;
            @include flex();
            margin-top: 20px;
            span{
                width: 150px;
                @include flex();
                #back{
                    background-color: rgba(245, 246, 247, 1);
                    border: none;
                    padding: 15px 12px;
                    border-radius: 10px;
                }
            }
        }
        .card_list{
            float: left;
            width: 650px;
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 100px 20px;
            margin-top: 75px;
            margin-bottom: 20px;
            .card{
                position: relative;
                padding: 10px 15px;
                position: relative;
                border: 1px solid rgba(242, 238, 238, 1);
                border-radius: 20px;
                color: rgba(0, 0, 0, 1);
                &:hover{
                    background-color: rgba(242, 238, 238, 1);
                }
                h3{
                    margin-top: 40px;
                    font-size: 18px;
                    font-weight: 700;
                }
                p{
                    font-size: 15px;
                    margin: 10px 0;
                    color: rgba(137, 134, 134, 1);
                }
                h2{
                    display: inline;
                }
                button{
                    border: 2px solid black;
                    border-radius: 50%;
                    padding: 1px 8px;
                    margin-left: 80px;
                    text-align: end;
                    font-size: 25px;
                    background-color: black;
                    color: white;
                    &:hover{
                        background-color: rgba(242, 238, 238, 1);
                        color: black;
                    }
                }
                #card_img1{
                    position: absolute;
                    top: -85px;
                    right: -20px;
                }
                #card_img2{
                    position: absolute;
                    top: -85px;
                    right: 10px;
                }
                #card_img3{
                    position: absolute;
                    top: -100px;
                    right: -15px;
                }
            }
        }
        .articles{
            margin-top: 20px;
            margin-left: 75px;
            float: left;
            width: 230px;
            .articles_card{
                margin-bottom: 20px;
                display: flex;
                align-items: start;
                p{
                    font-size: 15px;
                    font-weight: 600;
                }
                img{
                    border: none;
                    border-radius: 10px;
                    padding: 7px 9px;
                    background-color: red;
                    margin-right: 10px;
                }
                #color1{
                    background-color: rgba(255, 240, 165, 1);
                }
                #color2{
                    background-color: rgba(214, 245, 255, 1);
                }
                #color3{
                    background-color: rgb(255, 145, 145);
                }
                #color4{
                    background-color: rgba(193, 255, 244, 1);
                }
            }
        }
    }
}